<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings, and thank you signing up for Maker's Label</h1>
    <p>
      You'll be first to know when we launch. MakersMovement is growing. Tell your friends and get a flask for free.<br>
    </p>
    <p>
      Your referral link is: makerslabel.com/?ref=<%= @user.referral_code %><br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>